<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" >
    <link rel="stylesheet" href="/static/css/login_view.css">
    <title>Login</title>
</head>
<body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="username" name="username" id="username" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password"  name="password" required>

        <button type="submit">Log In</button><br/>
        <a href="/signup/">Don't have an account? Sign up here</a><br>
    </form>
   
</body>
</html>
